<section class="heading-section">
    <h1 class="title is 1 has-text-centered">Todos</h1>
</section>
<div class="add-todo.box">
    <form>
        <h2 clas="title is-5">New Todo</h2>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input"class="text" placeholder="Type todo text here ...">
            </p>
            <p class="control">
                <button class="button">
                    <i class="material-icons"></i>
                Add
                </button>
            </p>
        </div>
        <section class="section">
        <div class="container"></div>
        <div class="todos-list"></div>
        <div class="todos-item"></div>
        <div class="check-box">
            <i class="material-icons">check</i>
        </div>
        <div class="todo-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio inventore perspiciatis, eum tempore laudantium nostrum porro necessitatibus vitae nam enim hic, aliquid, reprehenderit esse a obcaecati rerum saepe tempora nisi.
        </div> 
        <div class="todos-item"></div>
        <div class="check-box">
            <i class="material-icons">check</i>
        </div>
        <div class="todo-text"></div>
       Hola
    <div class="todo-controls-box">
        <div class="todo-control-button">
            <i class="material-icons">edit</i>
    <div class="todo-controls-box">
        <div class=" todo-control-button is-danger">
            <i class="material-icons">delete</i>
    </div>
    </div>
    </div>
    </div>
</section>
    </form>
</div>